<nav class="navbar navbar-expand-lg navbar-light bg-white-50">
    <a class="navbar-brand" href="#">IPodDelivery VR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pods">Pods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="marcas" >Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Promoções</a>
        </li>
      </ul>
    </div>
    <div>
        <a href="carrinho" class="m-2"><img src="../../../assets/imgs/icon-carrinho.png" alt="" style="height: 50px;"></a>
        <button class="btn btn-secondary m-2">Cadastro</button>
        <button class="btn btn-secondary m-2">Login</button>
    </div>
  </nav>
